.card {

    //FUNCTIONALITY
    perspective: 150rem; //Creates the allusion the cards are 3D
    -moz-perspective: 150rem; //Creates the allusion the cards are 3D on firefox browser
    position: relative;
    height: 52rem;

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute; //helps overlay cards on top of eachother
        top: 0; //helps overlay cards on top of eachother
        left: 0; //helps overlay cards on top of eachother
        width: 100%;
        backface-visibility: hidden; //Hides the back of the card when flipped
        border-radius: 1rem;
        overflow: hidden; //Pictures are 'overflowing' the parent el thus covering the border-radius. Hidden prevents this
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    
    

    &:hover &__side--front {
        transform: rotateY(-180deg); //To the direction of the flip correct
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }


    //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen; //A blend filter applied to the images rather than changing the opacity we did in the header. There are mroe filters
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); //To ensure clip-path works on all browsers
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); // clips a small section of the image
        &--1 {
            background-image: linear-gradient(
                to right bottom, 
                $color-secondary-light, 
                $color-secondary-dark),
                url(../img/nat-5.jpg); //unsplash.com to get images
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom, 
                $color-primary-light, 
                $color-primary-dark),
                url(../img/nat-6.jpg); //unsplash.com
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom, 
                $color-tertiary-light, 
                $color-tertiary-dark),
                 url(../img/nat-7.jpg); //unsplash.com
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width:75%

    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone; //Treats the break of an inline as its own el. Otherwise for example, padding on the header will only be applied like a single el.
        
        &--1 {
            background-image: linear-gradient(
                to right bottom, 
                rgba($color-secondary-light, .85), 
                rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-primary-light, .85),
                rgba($color-primary-dark, .85));
        }

        &--3 {
            background-image: linear-gradient(
                to right bottom,
                rgba($color-tertiary-light, .85),
                rgba($color-tertiary-dark, .85),
            );
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //Back Side Style
    &__cta {
        //Centering the el
        position: absolute;
        top: 50%; //puts el in the middle on the Y axis
        left: 50%; //puts el in the middle on the X axis
        transform: translate(-50%, -50%); // Puts the center point in the middle of the el

        width: 90%;
        text-align: center;
    }

    &__price-box {
        color: $color-white;
        margin-bottom: 8rem;
    
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

}